// Stacked avatars can be used to show who is participating in thread when
// there is limited space available.

.AvatarStack {
  display: inline-flex;
  align-items: center;
  vertical-align: bottom;
  list-style-type: none;
  cursor: pointer;

  &:hover,
  &:focus-within {
    .AvatarStack-item {
      min-width: 1.7em;
      background-color: var(--color-bg-primary);
      border-width: 0;

      &:focus-within {
        z-index: auto;
      }

      &:nth-child(n+4) {
        position: relative;
        visibility: visible;
      }

      &:nth-child(4)::before,
      &:nth-child(4)::after {
        display: none;
      }
    }
  }
}

.AvatarStack-item {
  min-width: 0;
  max-width: 1.7em;
  transition: min-width 0.2s ease-in-out, background-color 0.2s ease-in-out;

  .avatar,
  &:nth-child(4)::before,
  &:nth-child(4)::after {
    display: block;
    background-color: var(--color-bg-primary);
    border-color: var(--color-bg-primary);
    border-style: $border-style;
    border-width: $border-width;
    box-shadow: none;
    border-radius: $border-radius;
  }

  // &:not(:first-child) .avatar {
  //   mask: radial-gradient(circle, 20px at 2px 50%, transparent 99%, #fff 100%);
  // }

  &:nth-child(1) {
    z-index: 3;
  }

  &:nth-child(2) {
    z-index: 2;
  }

  &:nth-child(3) {
    z-index: 1;
  }

  &:nth-child(2) ~ &,
  &:last-child {
    flex-shrink: 0;
  }

  &:nth-child(n+4) {
    position: absolute;
    top: 0;
    right: 0;
  }

  &:nth-child(4)::before,
  &:nth-child(4)::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: "";
  }

  &:nth-child(4)::before {
    right: -2px;
    background-color: var(--color-avatar-stack-fade-more);
  }

  &:nth-child(4)::after {
    right: 1px;
    background-color: var(--color-avatar-stack-fade);
  }
}

// Right aligned variation

.AvatarStack--right {
  .AvatarStack-body {
    right: 0;
    flex-direction: row-reverse;

    &:hover .avatar {
      margin-right: 0;
      // stylelint-disable-next-line primer/spacing
      margin-left: 3px;
    }
  }

  .avatar.avatar-more {
    // stylelint-disable-next-line primer/colors
    background: var(--color-avatar-stack-fade);

    &::before {
      width: 5px;
    }

    &::after {
      width: 2px;
      background: var(--color-bg-tertiary);
    }
  }

  .avatar {
    margin-right: 0;
    // stylelint-disable-next-line primer/spacing
    margin-left: -11px;
    border-right: 0;
    border-left: $border-width $border-style var(--color-bg-canvas); // stylelint-disable-line primer/borders
  }
}
